*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Century Gothic;
    background-color: #020412;
    scrollbar-color: white;
}
.content{
    width: 500px;
    height: 200px;;
    background-color:yellow;
    color: #fff;
    padding: 0 8.5%;
    position: relative;
    position: absolute;
    top:60px;
    right:300px;
    border-radius: 10px;
}
.search{
   background-color: yellow;
    position: relative;
    top: 30px;
}
.search label {
    background-color: yellow;
    color: #020412;
    font-size: 30px;
}
.search input{
    margin-top: 10px;
    font-size: 30px;
    background-color: white;
    border-radius: 10px; 
}
.search button{
    background-color: rgb(8, 8, 8);
    color: yellow;
    font-size: 20px;
    width: 200px;
    height:30px;
    border-radius: 5px;
    border-color: #020412;
}
.head{
    border-radius:10px ;
    position: relative;
    top:10px;
}

.head marquee{
    color: yellow;
    font-size: 30px;
    
    position: relative;
    right:0px;
    width: 100;
    border-radius: 10px;
    background-color: #020412;
}
.result{
    font-size: 30px;
    height: 800px;
    width: 900px;
    position: absolute;
    top: 240px;
    left: 80px;
    background-color:yellow;
}
.result h1{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Redressed', cursive;
    color: white;
    font-size: 30px;
    position: relative;
    left:100px;
    top:30px;
    background-color: transparent;
}
.details{
    background-color:yellow;
    height: 500px;
    width: 450px;
    position: absolute;
    top: 20px;
    left: 10px;
}
.detailsTable{
    background-color:white;
    font-size: 25px;
}
.detailsTable span{
    color:yellow;
}
table{
    color: white;
    width: 300px;
}
.details b{
    background-color: yellow;
    color: #020412;
    font-size: 40;
    font-family: 'Montserrat', sans-serif;
font-family: 'Redressed', cursive;
}
.marks b{
    background-color: yellow;
    color: #020412;
    font-size: 40;
    font-family: 'Montserrat', sans-serif;
font-family: 'Redressed', cursive;
}
.marks{
    background-color:white;
    height: 500px;
    width: 250px;
    position: absolute;
    top: 20px;
    left: 470px;
}
.markTable{
    
    width: 400px; 
    position:relative; 
    top:0px; 
    color:white; 
    height: 500px; 
    font-size: 25px;
    background-color:white;
}
.markTable span{
    color: yellow;
}
.marks h1{
    background-color:yellow; 
    color:yellow 
}
.head{
    background-color: yellow;
    width:400px;
    height: 150px;
    top: 0px;
    position: relative;
    left: 300px;
}
.head marquee{
    background-color: black;
    color: white;
    height: 50;
    width: 400;
    font-size: 40;
}
.head marquee u{
    background-color:transparent;
}
.head p{
    background-color: #fff;
    color:white;
}
.head span{
    position: relative;
    top: 30;
    left: 130;
    background-color: transparent;
    color: #020412;
    font-size: 60;
    font-style: bold;
    
    font-family: 'Montserrat', sans-serif;
font-family: 'Redressed', cursive;
}